.container {
  position: relative;
}

.wrapp {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.k-line6-1 {
  animation: k-loadingB 1.5s 0s infinite;
  background-color: #ff5722;
}

.k-line6-2 {
  animation: k-loadingB 1.5s 0.1s infinite;
  background-color: #ff5722;
}

.k-line6-3 {
  animation: k-loadingB 1.5s 0.2s infinite;
  background-color: #ff5722;
}

.k-line6-4 {
  animation: k-loadingB 1.5s 0.3s infinite;
  background-color: #ff5722;
}

.k-line6-5 {
  animation: k-loadingB 1.5s 0.4s infinite;
  background-color: #ff5722;
}

.k-line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #4b9cdb;
}

@keyframes k-loadingB {
  0 {
    width: 15px;
  }
  50% {
    width: 35px;
  }
  100% {
    width: 15px;
  }
}
