.jokes-row {
  display: flex;
  align-items: center;
  padding: 10px 0;
  line-height: 1.5;
}

.meta {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  height: 30px;
  width: 95%;
  color: #999;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
}